
<!-- Tabla de Citas -->
<div class="mb-6">
<h2 class="text-2xl font-bold text-gray-200 mb-4 text-center">Gestión de Citas</h2>

<div class="bg-gray-900 shadow-md rounded-lg overflow-x-auto border border-gray-600">
    <table id="citas-table" class="min-w-full divide-y divide-gray-700">
    <thead class="bg-gray-700">
        <tr>
        <th class="px-6 py-3 text-left text-xs font-medium text-gray-300 uppercase tracking-wider">ID</th>
        <th class="px-6 py-3 text-left text-xs font-medium text-gray-300 uppercase tracking-wider">Cliente</th>
        <th class="px-6 py-3 text-left text-xs font-medium text-gray-300 uppercase tracking-wider cursor-pointer whitespace-nowrap" onclick="sortTable('fecha_creacion')">Fecha Creación
            <svg class="inline size-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
            <path id="sort-fecha_creacion-asc" class="hidden" d="M12 5v14m0 0l-4-4m4 4l4-4"/>
            <path id="sort-fecha_creacion-desc" class="hidden" d="M12 19V5m0 0l4 4m-4-4l-4 4"/>
            </svg>
        </th>
        <th class="px-6 py-3 text-left text-xs font-medium text-gray-300 uppercase tracking-wider cursor-pointer whitespace-nowrap" onclick="sortTable('fecha_cita')">Fecha Cita
            <svg class="inline size-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
            <path id="sort-fecha_cita-asc" class="hidden" d="M12 5v14m0 0l-4-4m4 4l4-4"/>
            <path id="sort-fecha_cita-desc" class="hidden" d="M12 19V5m0 0l4 4m-4-4l-4 4"/>
            </svg>
        </th>
        <th class="px-6 py-3 text-left text-xs font-medium text-gray-300 uppercase tracking-wider">Hora</th>
        <th class="px-6 py-3 text-left text-xs font-medium text-gray-300 uppercase tracking-wider cursor-pointer" onclick="sortTable('servicio')">Servicio
            <svg class="inline size-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
            <path id="sort-servicio-asc" class="hidden" d="M12 5v14m0 0l-4-4m4 4l4-4"/>
            <path id="sort-servicio-desc" class="hidden" d="M12 19V5m0 0l4 4m-4-4l-4 4"/>
            </svg>
        </th>
        <th class="px-6 py-3 text-left text-xs font-medium text-gray-300 uppercase tracking-wider">Notas</th>
        <th class="px-6 py-3 text-left text-xs font-medium text-gray-300 uppercase tracking-wider">Estado</th>
        </tr>
    </thead>
    <tbody class="bg-gray-800 divide-y divide-gray-700">
        {% for cita in citas %}
        <tr>
            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-200">{{ cita.id }}</td>
            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-200">{{ cita.usuario.nombre }} {{ cita.usuario.apellido }}</td>
            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-200" data-fecha_creacion="{{ cita.fecha_creacion.strftime('%Y-%m-%d') }}">{{ cita.fecha_creacion.strftime('%d/%m/%Y') }}</td>
            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-200" data-fecha_cita="{{ cita.fecha_cita.strftime('%Y-%m-%d') }}">{{ cita.fecha_cita.strftime('%d/%m/%Y') }}</td>
            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-200">{{ cita.hora_12h() }}</td>
            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-200">
            {{ cita.servicio.nombre if cita.servicio else '-' }}
            </td>
            <td class="px-6 py-4 text-sm text-gray-200">{{ cita.notas or '-' }}</td>
            <td class="px-6 py-4 whitespace-nowrap text-sm">
                <select class="estado-cita text-white bg-gray-900 py-1 px-1 rounded-md border border-gray-600 text-sm focus:ring-rose-500 focus:border-rose-500"
                        data-cita-id="{{ cita.id }}"
                        onchange="actualizarEstadoCita(this)">
                <option value="pendiente" {% if cita.estado == 'pendiente' %}selected{% endif %}
                        class="bg-orange-100 text-orange-500 line-through" disabled>Pendiente</option>
                <option value="confirmado" {% if cita.estado == 'confirmado' %}selected{% endif %}
                        class="bg-blue-300 text-blue-800">Confirmado</option>
                <option value="cancelado" {% if cita.estado == 'cancelado' %}selected{% endif %}
                        class="bg-red-300 text-red-800">Cancelado</option>
                <option value="completado" {% if cita.estado == 'completado' %}selected{% endif %}
                        class="bg-green-300 text-green-800">Completado</option>
                </select>
            </td>
            
        </tr>
        {% else %}
        <tr>
            <td colspan="8" class="px-6 py-4 text-center text-gray-400">No hay citas registradas.</td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
</div>
</div>
