<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Barbería{% endblock %}</title>

    <!-- Tailwind CDN solo aquí -->
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    {% block head %}{% endblock %}
</head>
<body class="bg-gray-100 text-gray-800">

    <main>
        {% block content %}{% endblock %}
    </main>

</body>
</html>
